StudyMatev10/Workflows/CardCreateUpdateCardTextCreateCardTextAudioFile-5969B85F-F9B7-EA11-A812-000D3A7F1B13.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_card_is_created_or_updated":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"ff365_card","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"ff365_cardtext"},"authentication":"@parameters('$authentication')"}}},"actions":{"Initialize_varRegion":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"varRegion","type":"string"}]}},"Initialize_varSubscriptionKey":{"runAfter":{"Initialize_varRegion":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varSubscriptionKey","type":"string"}]}},"Upload_file_or_image_content":{"runAfter":{"Create_audio_file_from_text":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateEntityFileImageFieldContent","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ff365_cards","recordId":"@triggerOutputs()?['body/ff365_cardid']","fileImageFieldName":"ff365_cardtextaudiofile","item":"@body('Create_audio_file_from_text')","x-ms-file-name":"@{triggerOutputs()?['body/ff365_cardnumber']}_CardText.mp3"},"authentication":"@parameters('$authentication')"}},"Create_audio_file_from_text":{"runAfter":{"Set_Azure_Variables":["Succeeded"]},"type":"Http","inputs":{"method":"POST","uri":"https://@{variables('varRegion')}.tts.speech.microsoft.com/cognitiveservices/v1","headers":{"Ocp-Apim-Subscription-Key":"@variables('varSubscriptionKey')","X-Microsoft-OutputFormat":"audio-16khz-64kbitrate-mono-mp3","Content-Type":"application/ssml+xml"},"body":"<speak version='1.0' xml:lang='en-US'><voice xml:lang='en-US' xml:gender='Male'\n    name='en-US-AriaRUS'>\n@{triggerOutputs()?['body/ff365_cardtext']}\n</voice></speak>"}},"Set_Azure_Variables":{"actions":{"List_the_Azure_Settings":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ff365_settingses","$filter":"ff365_name eq 'Azure Speech Service' and statecode eq 0","$top":1},"authentication":"@parameters('$authentication')"}},"Cancel_if_no_records_are_returned":{"actions":{"Terminate":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"message":"Error retrieving Azure Settings"}}}},"runAfter":{"List_the_Azure_Settings":["Succeeded"]},"expression":{"equals":["@empty(outputs('List_the_Azure_Settings')?['body'])","@true"]},"type":"If"},"Set_varRegion":{"runAfter":{"Cancel_if_no_records_are_returned":["Succeeded"]},"type":"SetVariable","inputs":{"name":"varRegion","value":"@{first(outputs('List_the_Azure_Settings')?['body/value'])?['ff365_region']}"}},"Set_varSubscriptionKey":{"runAfter":{"Set_varRegion":["Succeeded"]},"type":"SetVariable","inputs":{"name":"varSubscriptionKey","value":"@{first(outputs('List_the_Azure_Settings')?['body/value'])?['ff365_subscriptionkey']}"}}},"runAfter":{"Initialize_varSubscriptionKey":["Succeeded"]},"type":"Scope"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}