StudyMatev10/Workflows/CardCreateUpdateNameCreateNameAudioFile-450246FF-9CB5-EA11-A812-000D3A7F1B13.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_card_is_created_or_updated":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"ff365_card","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"ff365_name"},"authentication":"@parameters('$authentication')"}}},"actions":{"Initialize_varSubscriptionKey":{"runAfter":{"Initialize_varRegion":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varSubscriptionKey","type":"string","value":"7b906fa762f74bd6ae0a3b7503cb4070"}]}},"Initialize_varRegion":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"varRegion","type":"string","value":"uksouth"}]}},"Upload_file_or_image_content":{"runAfter":{"Convert_Name_to_speech":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateEntityFileImageFieldContent","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ff365_cards","recordId":"@triggerOutputs()?['body/ff365_cardid']","fileImageFieldName":"ff365_nameaudiofile","item":"@body('Convert_name_to_speech')","x-ms-file-name":"@{triggerOutputs()?['body/ff365_cardnumber']}_Name.mp3"},"authentication":"@parameters('$authentication')"}},"Convert_Name_to_speech":{"runAfter":{"Initialize_varSubscriptionKey":["Succeeded"]},"type":"Http","inputs":{"method":"POST","uri":"https://@{variables('varRegion')}.tts.speech.microsoft.com/cognitiveservices/v1","headers":{"Ocp-Apim-Subscription-Key":"@variables('varSubscriptionKey')","X-Microsoft-OutputFormat":"audio-16khz-64kbitrate-mono-mp3","Content-Type":"application/ssml+xml"},"body":"<speak version='1.0' xml:lang='en-US'><voice xml:lang='en-US' xml:gender='Male'\n    name='en-US-BenjaminRUS'>\n@{triggerOutputs()?['body/ff365_name']}\n</voice>\n</speak>"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}